@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-down {
  animation: fade-down 0.5s;
}

.fade-up {
  animation: fade-up 1s;
}

.fade-delay {
  animation: fade-up 2s ease-in;
}

@keyframes fade-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-opacity {
  animation: fade-opacity 1s ease-out;
}

.blur {
  filter: blur(5px);
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
